{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}

    {% block title %}  Article  {% endblock %}


{# Block de Contenu défini dans base.html.twig #}

{% block contenu %}

<div class="animate-dropdown">

  <!-- ========================================= BREADCRUMB ========================================= -->
  <div id="top-mega-nav">
      <div class="container">
          <nav>
              <ul class="inline">

                  <li class="breadcrumb-nav-holder">
                      <ul>

                        <li class="breadcrumb-item">
                            <a href="{{ url('index_index') }}">Accueil</a>
                        </li><!-- /.breadcrumb-item -->

                        <li class="breadcrumb-item current">
                            <a href="{{ url('index_categories') }}">Les Catégories</a>
                        </li><!-- /.breadcrumb-item -->

                        <li class="breadcrumb-item current">
                            <a href="#">{{ produit.titre }}</a>
                        </li><!-- /.breadcrumb-item -->

                      </ul>
                  </li><!-- /.breadcrumb-nav-holder -->

              </ul><!-- /.inline -->
          </nav>

      </div><!-- /.container -->
  </div><!-- /#top-mega-nav -->
  <!-- ========================================= BREADCRUMB : END ========================================= -->

            <div id="single-product">
                <div class="container">

                    <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                        <div class="product-item-holder size-big single-product-gallery small-gallery">

                            <div id="owl-single-product" class="owl-carousel">

                                <div class="single-product-gallery-item" id="slide1">
                                    <a data-rel="prettyphoto" href="{{ produit.urlImage}}">
                                        <img class="img-responsive" alt="" src="{{ produit.urlImage}}" />
                                    </a>
                                </div><!-- /.single-product-gallery-item -->

                            </div><!-- /.single-product-slider -->


                            <div class="single-product-gallery-thumbs gallery-thumbs">

                                <div id="owl-single-product-thumbnails" class="owl-carousel">
                                    <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">
                                        <img width="67" alt="" src="{{ produit.urlImage}}" />
                                    </a>
                                </div><!-- /#owl-single-product-thumbnails -->

                                <div class="nav-holder left hidden-xs">
                                    <a class="prev-btn slider-prev" data-target="#owl-single-product-thumbnails" href="#prev"></a>
                                </div><!-- /.nav-holder -->

                                <div class="nav-holder right hidden-xs">
                                    <a class="next-btn slider-next" data-target="#owl-single-product-thumbnails" href="#next"></a>
                                </div><!-- /.nav-holder -->

                            </div><!-- /.gallery-thumbs -->

                        </div><!-- /.single-product-gallery -->
                    </div><!-- /.gallery-holder -->
                    <div class="no-margin col-xs-12 col-sm-7 body-holder">
                        <div class="body">

                            <div class="title"><a href="#">{{ produit.titre}}</a></div>
                            <div class="brand">{{ produit.constructeur}}</div>

                            <div class="excerpt">
                                <p><strong>Résumé de la description</strong></p>
                                  <p>{{ produit.caracteristique}}</p>
                            </div>

                            <div class="prices">
                                <div class="price-current"> {{ produit.prix}}</div>
                            </div>
                        </div><!-- /.body -->

                    </div><!-- /.body-holder -->
                </div><!-- /.container -->
            </div><!-- /.single-product -->

            <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
            <section id="single-product-tab">
                <div class="container">
                    <div class="tab-holder">

                        <ul class="nav nav-tabs simple" >
                            <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                            <li><a href="#additional-info" data-toggle="tab">Informations supplémentaires</a></li>
                            <li><a href="#reviews" data-toggle="tab">Avis (3)</a></li>
                        </ul><!-- /.nav-tabs -->

                        <div class="tab-content">
                            <div class="tab-pane active" id="description">

                                <p><strong>Titre :</strong>{{ produit.titre}}</p>
                                <p><strong>Description :</strong>{{ produit.caracteristique}}</p>
                                <p><strong>Prix :</strong> {{ produit.prix}}</p>
                                <p><strong>Garranty :</strong> {{ produit.garranty}}</p>

                                <div class="meta-row">
                                    <div class="inline">
                                        <label>categories:</label>
                                        <span><a href="{{ url('index_categories') }}">{{ produit.productTypeName}}</a></span>
                                        <!-- <span><a href="#">Catégorie</a></span> -->
                                    </div><!-- /.inline -->

                                    <span class="seperator"></span>

                                    <!-- <div class="inline">
                                        <label>tag:</label>
                                        <span><a href="#">Tag</a>,</span>
                                        <span><a href="#">Tag</a>,</span>
                                        <span><a href="#">Tag</a></span>
                                    </div><!-- /.inline -->
                                </div><!-- /.meta-row -->
                            </div><!-- /.tab-pane #description -->

                            <div class="tab-pane" id="additional-info">
                                <ul class="tabled-data">
                                    <li>
                                        <label>Poids</label>
                                        <div class="value">7.25 kg</div>
                                    </li>
                                    <li>
                                        <label>Dimensions</label>
                                        <div class="value">90x60x90 cm</div>
                                    </li>
                                    <li>
                                        <label>Taille</label>
                                        <div class="value">Très grande</div>
                                    </li>
                                    <li>
                                        <label>Couleur</label>
                                        <div class="value">Blanc</div>
                                    </li>
                                    <li>
                                        <label>Garantie</label>
                                        <div class="value">{{produit.garranty}}</div>
                                    </li>
                                </ul><!-- /.tabled-data -->

																<div class="meta-row">
                                    <div class="inline">
                                        <label>categories:</label>
                                        <span><a href="{{ url('index_categories') }}">{{produit.productTypeName}}</a>,</span>
                                        <!-- <span><a href="#">Catégorie</a></span> -->
                                    </div><!-- /.inline -->

                                    <span class="seperator">/</span>


                                </div><!-- /.meta-row -->
                            </div><!-- /.tab-pane #additional-info -->


                            <div class="tab-pane" id="reviews">
                                <div class="comments">
                                    <div class="comment-item">
                                        <div class="row no-margin">
                                            <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                                <div class="avatar">
                                                    <img alt="avatar" src="assets/images/default-avatar.jpg">
                                                </div><!-- /.avatar -->
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
                                                <div class="comment-body">
                                                    <div class="meta-info">
                                                        <div class="author inline">
                                                            <a href="#" class="bold">John Smith</a>
                                                        </div>
                                                        <div class="star-holder inline">
                                                            <div class="star" data-score="4"></div>
                                                        </div>
                                                        <div class="date inline pull-right">
                                                            12.07.2013
                                                        </div>
                                                    </div><!-- /.meta-info -->
                                                    <p class="comment-text">
                                                        Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                                                    </p><!-- /.comment-text -->
                                                </div><!-- /.comment-body -->

                                            </div><!-- /.col -->

                                        </div><!-- /.row -->
                                    </div><!-- /.comment-item -->

                                    <div class="comment-item">
                                        <div class="row no-margin">
                                            <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                                <div class="avatar">
                                                    <img alt="avatar" src="assets/images/default-avatar.jpg">
                                                </div><!-- /.avatar -->
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
                                                <div class="comment-body">
                                                    <div class="meta-info">
                                                        <div class="author inline">
                                                            <a href="#" class="bold">Jane Smith</a>
                                                        </div>
                                                        <div class="star-holder inline">
                                                            <div class="star" data-score="5"></div>
                                                        </div>
                                                        <div class="date inline pull-right">
                                                            12.07.2013
                                                        </div>
                                                    </div><!-- /.meta-info -->
                                                    <p class="comment-text">
                                                        Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                                                    </p><!-- /.comment-text -->
                                                </div><!-- /.comment-body -->

                                            </div><!-- /.col -->

                                        </div><!-- /.row -->
                                    </div><!-- /.comment-item -->

                                    <div class="comment-item">
                                        <div class="row no-margin">
                                            <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                                <div class="avatar">
                                                    <img alt="avatar" src="assets/images/default-avatar.jpg">
                                                </div><!-- /.avatar -->
                                            </div><!-- /.col -->

                                            <div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
                                                <div class="comment-body">
                                                    <div class="meta-info">
                                                        <div class="author inline">
                                                            <a href="#" class="bold">John Doe</a>
                                                        </div>
                                                        <div class="star-holder inline">
                                                            <div class="star" data-score="3"></div>
                                                        </div>
                                                        <div class="date inline pull-right">
                                                            12.07.2013
                                                        </div>
                                                    </div><!-- /.meta-info -->
                                                    <p class="comment-text">
                                                        Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                                                    </p><!-- /.comment-text -->
                                                </div><!-- /.comment-body -->

                                            </div><!-- /.col -->

                                        </div><!-- /.row -->
                                    </div><!-- /.comment-item -->
                                </div><!-- /.comments -->

                                <div class="add-review row">
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="new-review-form">
                                            <h2>Ajouter un avis</h2>
                                            <form id="contact-form" class="contact-form" method="post" >
                                                <div class="row field-row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <label>Nom</label>
                                                        <input class="le-input" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <label>Email</label>
                                                        <input class="le-input" >
                                                    </div>
                                                </div><!-- /.field-row -->

                                                <div class="field-row star-row">
                                                    <label>Votre note</label>
                                                    <div class="star-holder">
                                                        <div class="star big" data-score="0"></div>
                                                    </div>
                                                </div><!-- /.field-row -->

                                                <div class="field-row">
                                                    <label>Votre avis</label>
                                                    <textarea rows="8" class="le-input"></textarea>
                                                </div><!-- /.field-row -->

                                                <div class="buttons-holder">
                                                    <button type="submit" class="le-button huge">Envoyer</button>
                                                </div><!-- /.buttons-holder -->
                                            </form><!-- /.contact-form -->
                                        </div><!-- /.new-review-form -->
                                    </div><!-- /.col -->
                                </div><!-- /.add-review -->

                            </div><!-- /.tab-pane #reviews -->
                        </div><!-- /.tab-content -->

                    </div><!-- /.tab-holder -->
                </div><!-- /.container -->
            </section><!-- /#single-product-tab -->
            <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->


{% endblock %}
