{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Categories - HardWhere {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}

          <div class="animate-dropdown">
                <!-- ========================================= BREADCRUMB ========================================= -->
                <div id="top-mega-nav">
                    <div class="container">
                        <nav>
                            <ul class="inline">
                                <li class="dropdown le-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list"></i> Trier par catégorie
                                    </a>


                                </li>

                                <li class="breadcrumb-nav-holder">
                                    <ul>

                                      <li class="breadcrumb-item">
                                          <a href="{{ url('index_index') }}">Accueil</a>
                                      </li><!-- /.breadcrumb-item -->

                                      <li class="breadcrumb-item current">
                                          <a href="{{ url('index_categories') }}">Les Catégories</a>
                                      </li><!-- /.breadcrumb-item -->

                                    </ul>
                                </li><!-- /.breadcrumb-nav-holder -->

                            </ul><!-- /.inline -->
                        </nav>

                    </div><!-- /.container -->
                </div><!-- /#top-mega-nav -->
                <!-- ========================================= BREADCRUMB : END ========================================= -->
            </div>

            <section id="category-grid">
                <div class="container">
                    <!-- ========================================= SIDEBAR ========================================= -->
                    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
                        <!-- ========================================= PRODUCT FILTER ========================================= -->
                        <div class="widget">
                            <h1>Filtres</h1>
                            <div class="body bordered">

                                <div class="category-filter">
                                    <h2>Marques</h2>
                                    <hr>
                                    <ul>
                                        <li>
                                          <select id="categorie-select" class="form-control">
                                              <option selected value="">Choisissez une Catégorie</option>
                                              {% for categorie in categories %}
                                                <option value="{{ categorie.productTypeName }}">{{ categorie.productTypeName }}</option>
                                              {% endfor %}
                                          </select>
                                        </li>
                                        <li>
                                          <select id="construct-select" class="form-control">
                                              <option selected value="">Choisissez un Constructeur</option>
                                              {% for constru in construs %}
                                                <option value="{{ constru.constructeur }}">{{ constru.constructeur }}</option>
                                              {% endfor %}
                                          </select>
                                        </li>
                                    </ul>
                                </div><!-- /.category-filter -->



                                <div class="price-filter">
                                    <h2>Prix</h2>
                                    <hr>
                                    <div class="price-range-holder">

                                        <input type="text" class="price-slider" value="" >

                                        <span class="min-max">
                                            Prix : €x - €xxxx
                                        </span>
                                        <span class="filter-button">
                                            <a href="#">Filtrer</a>
                                        </span>
                                    </div>
                                </div><!-- /.price-filter -->

                            </div><!-- /.body -->
                        </div><!-- /.widget -->
                        <!-- ========================================= PRODUCT FILTER : END ========================================= -->
											</div>



                    <!-- ========================================= CONTENT ========================================= -->
                    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
                        <section id="gaming">
                            <div class="grid-list-products">
                                <h2 class="section-title">Produits</h2>

                              
                                <div class="tab-content">
                                    <div id="grid-view" class="products-grid fade tab-pane in active">

                                        <div class="product-grid-holder">
                                            <div class="row no-margin resultat">

                                            {% for produit in produits %}
                                                <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                                    <div class="product-item">
                                                        <div class="image">
                                                            <img alt="{{ produit.titre }}" src="{{ asset('assets/images/blank.gif') }}" data-echo="{{ produit.urlImage }}" />
                                                        </div>
                                                        <div class="body">
                                                            <div class="title">
                                                                <a href="#">{{ produit.titre }}</a>
                                                            </div>
                                                            <div class="brand">{{ produit.constructeur }}</div>
                                                        </div>
                                                        <div class="prices">
                                                            <div class="price-current pull-right">{{ produit.prix }}</div>
                                                        </div>
                                                        <div class="hover-area">
                                                            <div class="add-cart-button">
                                                                <a href="{{ url('index_article' , {
                                                                    productTypeName : produit.productTypeName | lower,
                                                                    slugarticle : produit.slug ,
                                                                    ean : produit.ean }) }}" class="le-button">Voir</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.product-item -->
                                                </div><!-- /.product-item-holder -->
                                            {% endfor %}

                                        </div><!-- /.products-list -->

                                        <div class="pagination-holder">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 text-left">
                                                    <ul class="pagination">
                                                        <li class="current"><a  href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">next</a></li>
                                                    </ul><!-- /.pagination -->
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="result-counter">
                                                        Showing <span>1-X</span> sur <span>X</span> resultats
                                                    </div><!-- /.result-counter -->
                                                </div>
                                            </div><!-- /.row -->
                                        </div><!-- /.pagination-holder -->

                                    </div><!-- /.products-grid #list-view -->

                                </div><!-- /.tab-content -->
                            </div><!-- /.grid-list-products -->

                        </section><!-- /#gaming -->
                    </div><!-- /.col -->
                    <!-- ========================================= CONTENT : END ========================================= -->
                </div><!-- /.container -->
            </section><!-- /#category-grid -->


            <input id="routeURL" type="hidden" value="{{ url('index_index') }}">


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(function() {
        console.log('jQuery is ready !');

        $('#categorie-select').change(() => {

            let constructeur = $('#construct-select').val();
            let productTypeName = $('#categorie-select').val();

            $.ajax({
                        url  : "{{ path('productTypeName_ajax') }}",
                        type : "POST",
                        data : {
                            productTypeName     : productTypeName,
                            constructeur        : constructeur
                        }
                    }).done(function(data) {
                      //  console.log(data);
                        console.log(data)
                        let produits = $('<div class="resultat">');
                        let routeURL = $('#routeURL').val();

                        for(i=0 ; i < data.length ; i++) {

                            // - COntact API ....
                            // -- Tu récupre lme produit via EAN
                            // -- Tu remplace le prix

                            produits.append(`
                              <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                  <div class="product-item">
                                      <div class="image">
                                          <img alt="${data[i].titre}" src="${data[i].urlImage}" />
                                      </div>
                                      <div class="body">
                                          <div class="title">
                                              <a href="#">${data[i].titre}</a>
                                          </div>
                                          <div class="brand">${data[i].constructeur}</div>
                                      </div>
                                      <div class="prices">
                                          <div class="price-current pull-right">${data[i].prix}</div>
                                      </div>
                                      <div class="hover-area">
                                          <div class="add-cart-button">

                                              <a href="${routeURL}${data[i].productTypeName.toLowerCase()}/${data[i].slug}_${data[i].ean}.html" class="le-button">Voir</a>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                            `);
                        }

                        $('.resultat').replaceWith(produits);

                    });
                });

      $('#construct-select').change(() => {

          let constructeur = $('#construct-select').val();
          let productTypeName = $('#categorie-select').val();

          $.ajax({
                      url  : "{{ path('constructeur_ajax') }}",
                      type : "POST",
                      data : {
                          constructeur     : constructeur,
                          productTypeName  : productTypeName
                      }
                  }).done(function(data) {
                    //  console.log(data);

                      let produits = $('<div class="resultat">');

                      for(i=0 ; i < data.length ; i++) {
                          produits.append(`
                            <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                                <div class="product-item">
                                    <div class="image">
                                        <img alt="${data[i].titre}" src="${data[i].urlImage}" />
                                    </div>
                                    <div class="body">
                                        <div class="title">
                                            <a href="#">${data[i].titre}</a>
                                        </div>
                                        <div class="brand">${data[i].constructeur}</div>
                                    </div>
                                    <div class="prices">
                                        <div class="price-current pull-right">${data[i].prix}</div>
                                    </div>
                                    <div class="hover-area">
                                        <div class="add-cart-button">

                                        </div>
                                    </div>
                                </div>
                            </div>
                          `);
                      }

                      $('.resultat').replaceWith(produits);

                  });
              });
    });
</script>
{% endblock %}
